<!-- Answers partial for questions show page -->
<div class="answer-body">
  <p><%= answer.body %></p>
  <p><a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a></p>
  <p><%= answer.created_at %></p>

  <div class="comment-list">

    <%= erb :'_comments' layout: false%>

  </div>
</div>
