<h1><%= @question.title %></h1>

<div id="question-body-container">
  <!-- Vote form and button -->
  <p><%= @question.body %></p>
  <% @question.tags.each do |tag| %>
    <ul>
      <li><%= tag.name %></li>
    </ul>
   <% end %>

  <% if @current_user &&  @question.user.id == @current_user.id %>
    <p><a href="/questions/<%=@question.id%>/edit">Edit Question</a></p>
  <% end %>

  <p><a href="/users/<%= @question.user.id %>"><%= @question.user.username %></a></p>
  <p><%= @question.created_at %></p>

  <h4> Comments </h4>

  <%  @question.comments.each do |comment| %>
    <%= erb :'/comments/_questions-comments', locals: {comment: comment} %>
  <% end %>

  <% if logged_in? %>
  <%= erb :'/comments/_comments-new-questions', locals: {question: @question} %>
  <% else %>
      <p><a href='/user/new'>Sign Up</a> or <a href='/login'>Login</a> to comment</p>
  <% end %>

</div>

<% if @question.answers.length == 1 %>
  <h2><%= @question.answers.length %> Answer</h2>
<% else %>
 <h2><%= @question.answers.length %> Answers</h2>
<% end %>

<div id="answer-list">
  <% @question.answers.each do |answer| %>
    <%= erb :'/answers/_answers', locals: {answer: answer} %>
  <% end %>
</div>

<h2>Post an Answer</h2>

<% if logged_in? %>
  <%= erb :'/answers/_answers-form', locals: {question: @question} %>
<% else %>
  <p><a href='/user/new'>Sign Up</a> or <a href='/login'>Login</a> to comment</p>
<% end %>
