<!-- Answers partial for questions show page -->
<div class="answer-body">
  <%= erb :'/answers/_answers-vote-form', layout: false, locals: {answer: answer } %>

  <p><%= answer.body %></p>
  <p>Author: <a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a></p>
  <p>posted <%= answer.time_since_creation %> hours ago</p>

</div>
