<!-- Answers partial for questions show page -->
<div class="answer-body">
  <p><%= answer.body %></p>
  <p><a href="/users/<%= answer.user.id %>"><%= answer.user.username %></a></p>
  <p><%= answer.created_at %></p>

  <div class="comment-list">

    <%= erb :'/comments/_answers-comments', layout: false, locals: {comments: answer.comments} %>

    <% if logged_in? %>
      <%= erb :'/comments/_comments-new-answers', layout: false, locals: {answer: answer } %>
    <% else %>
      <p><a href='/user/new'>Sign Up</a> or <a href='/login'>Login</a> to comment</p>
    <% end %>
  </div>
</div>
