<h3>All Questions</h3>

<div class="questions-list-container">
  <% @questions.each do |question| %>
    <div class="individual-question-container">
      <!-- <section id="vote-answer-count">Votes: <%= question.points%></section> -->
      <section id='vote-answer-count-author'>
        <ul>
          <li>Votes: <%= question.points%></li>
          <li>Answers: <%= question.answers.length %></li>
          <li>Author: <a href="/users/<%= question.user.id %>"><%= question.user.username %></a></li>
        </ul>
      </section>

      <h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>

    <!--   <% question.tags.each do |tag| %>
        <p>Tags: <span class="tag-box"><%= tag.name %></span></p>
      <% end %> -->

      <span class="updated-at"><p>created <%= question.time_since_creation %> hours ago</span>
    </div>
  <% end %>
</div>





