<h3>All Questions</h3>

<div class="questions-list-container">
  <% @questions.each do |question| %>
    <div class="individual-question-container">
      <section id="vote-answer-count">number of votes, answers, views</section>
      <h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
      <% question.tags.each do |tag| %>

          <p>Tags: <span class="tag-box"><%= tag.name %></span></p>

      <% end %>
      <p>Author: <a href="/users/<%= question.user.id %>"><%= question.user.username %></a></p>
      <span class="updated-at"><p>Created at: <a href="/users/<%= question.user.id %>"><%= question.user.created_at %></span></a></p>
    </div>
  <% end %>
</div>



